site_name: {{ cookiecutter.project_name }}
site_description: {{ cookiecutter.project_description }}
site_url: https://{{ cookiecutter.gitlab_url }}/{{ cookiecutter.gitlab_group }}/{{ cookiecutter.project_slug }}

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - API Reference: api.md

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
